body{
    font-family: 'Poppins', sans-serif;
}
.title-font{
    font-size: 60px;
}
.width-800{
    max-width: 800px;
}
.width-650{
    max-width: 650px;
}
.height-full{
    height: 800px;
}
.half-style{
    transform: translate(-50%,-340px);
}
.mt-400{
    margin-top: 400px;
}
.h-90vh{
    height: 45vh;    
}
.h-200{
    height: 200px;
}
.h-200px{
    height: 250px;
}
.fs-14px{
    font-size: 30px;
}