body{
    font-family: 'Poppins', sans-serif;
}
.title-font{
    font-size: 60px;
}
.width-800{
    max-width: 800px;
}
.width-650{
    max-width: 650px;
}
.height-full{
    height: 800px;
}
.half-style{
    transform: translate(-50%,-340px);
}
.mt-400{
    margin-top: 400px;
}
.w-200{
    width: 200px;    
}
.h-350{
    height: 350px;    
}
